@use '../abstracts' as *;
@use '../base' as *;
@use '../themes/default' as theme;
@use 'sass:map';

.header {
    @include position(sticky, 0px);

    transition:
        background-color 0.15s,
        box-shadow 0.15s;
    backdrop-filter: blur(0px);
    z-index: 10;
    padding-block: rem(16px);

    &__content {
        @include flex($justify: space-between, $align: center, $col-gap: 1rem);
    }
    &--scrolled {
        background-color: theme.$bg-color;
        box-shadow: $shadow-md;
    }

    &__skip-link {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip-path: rect(1px, 1px, 1px, 1px);
        color: theme.$brand-color-primary;

        &:focus {
            position: unset !important;
            height: auto;
            width: auto;
            overflow: auto;
        }
    }

    &__logo {
        width: rem(40px);
    }

    &__actions {
        display: none;
    }

    @include respond-to('md') {
        padding-inline: rem(16px);

        &__logo {
            @include position(absolute, $right: 50%);

            transform: translateX(50%);
        }

        &__actions {
            @include flex(row, center, center, nowrap, 0, 1rem);
        }
    }

    @include respond-to('lg') {
        padding: rem(40px, 32px);
        margin-top: rem(32px);

        &__logo {
            @include position(static);

            transform: translateX(0%);
        }
    }
}
