@use '../abstracts' as *;
@use '../base' as *;
@use '../themes/default' as theme;
@use 'sass:map';

.header {
    padding-block: rem(16px);
    z-index: 10;
    @include flex($justify: space-between, $align: center, $col-gap: 1rem);

    @include position(sticky, 0px);

    @include respond-to('lg') {
        padding-block: rem(32px);
        @include position(sticky);
    }

    &.container {
        @include respond-to('md') {
            padding-inline: rem(16px);
        }

        @include respond-to('lg') {
            padding-inline: rem(40px);
        }
    }

    &__skip-link {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip-path: rect(1px, 1px, 1px, 1px);
        color: theme.$brand-color-primary;

        &:focus {
            position: unset !important;
            height: auto;
            width: auto;
            overflow: auto;
        }
    }

    &__logo {
        width: rem(40px);

        @include respond-to('md') {
            @include position(absolute, $right: 50%);

            transform: translateX(50%);
        }

        @include respond-to('lg') {
            @include position(static);

            transform: translateX(0%);
        }
    }

    &__actions {
        display: none;
        @include respond-to('md') {
            @include flex(row, center, center, nowrap, 0, 1rem);
        }
    }
}
