@use '../abstracts' as *;
@use '../themes/default' as theme;

.testimonials {
    @include flex($direction: column, $row-gap: rem(56px));

    @include position($type: relative);

    padding-block: rem(64px);

    &__header {
        @include flex($direction: column, $row-gap: 1rem);
    }
    &__eyebrow {
        text-align: center;
    }
    &__section-heading {
        text-align: center;
    }
}
