@use '../abstracts' as *;
@use '../themes/default' as theme;
@use '../base/typography' as *;
@use 'sass:map';

.floater {
    box-shadow: $shadow-md, $shadow-lg;
    border-radius: $border-radius-full;
    background-color: theme.$brand-color-primary;
    color: $neutral-100;
    font-size: rem(16px);
    width: fit-content;
    padding: rem(8px);

    @include respond-to('md') {
        font-size: rem(32px);
    }

    &--text {
        @include flex(
            $direction: row,
            $justify: center,
            $align: center,
            $wrap: nowrap,
            $row-gap: 0,
            $col-gap: 0.5em
        );
        @include typography($family: $ff-button, $weight: $fw-button);
        font-size: rem(8px);
        color: $neutral-100;
        padding: rem(8px, 16px);
        [class^='icon-'],
        [class*=' icon-'] {
            font-size: rem(24px);
        }

        @include respond-to('md') {
            font-size: map.get($fs-button, 'md');
            [class^='icon-'],
            [class*=' icon-'] {
                font-size: rem(24px);
            }
        }

        @include respond-to('lg') {
            font-size: map.get($fs-button, 'lg');
            [class^='icon-'],
            [class*=' icon-'] {
                font-size: rem(24px);
            }
        }
    }
}
