@use '../abstracts' as *;
@use '../themes/default' as theme;

.wheel {
    @include position($type: relative);

    @include flex($justify: center, $align: center);

    border-radius: $border-radius-full;
    background-color: #eeeeee;
    width: rem(228px);
    min-height: rem(228px);
    margin-top: rem(20px);
    margin-inline: auto;

    &__pointer {
        @include position($type: absolute, $top: 0, $left: 50%);

        z-index: 1;
        transform: translate(-50%, -60%);
        width: 16px;
        height: 12px;
        background-color: $pink-500;
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    }

    &__partitions {
        @include grid($cols: repeat(2, 1fr), $rows: repeat(2, 1fr));

        border: 4px solid white;
        border-radius: $border-radius-full;
        overflow: clip;
        box-shadow: $shadow-center;
        width: 100%;
        gap: 4px;
        grid-template-areas:
            'one two'
            'four three';
        height: 100%;

        & > div:nth-child(1) {
            background-color: $pink-500;
            grid-area: one;
        }
        & > div:nth-child(2) {
            background-color: $purple-600;
            grid-area: two;
        }
        & > div:nth-child(3) {
            background-color: $blue-400;
            grid-area: three;
        }
        & > div:nth-child(4) {
            background-color: $yellow-500;
            grid-area: four;
        }
    }
    &__partition {
        @include flex($align: center, $justify: center);

        aspect-ratio: 1 / 1;
        width: 100%;
    }

    &__text {
        @include typography(
            $size: $fs-200,
            $family: $ff-text,
            $weight: 700,
            $line-height: 1,
            $color: white
        );

        max-width: 12ch;
        text-align: center;
    }

    &__spin-btn {
        @include typography(
            $size: rem(10px),
            $weight: 700,
            $family: $ff-text,
            $color: $pink-500
        );

        @include position($type: absolute, $top: 50%, $left: 50%);

        transform: translate(-50%, -50%);
        width: rem(44px);
        aspect-ratio: 1 / 1;
        border-radius: $border-radius-full;
        border: 3px solid $pink-500;
        letter-spacing: 4%;
        background-color: white;
        box-shadow: $shadow-pink;
    }

    &--hidden {
        display: none;
    }
}
