@use 'sass:math';
@use 'sass:list';
@use 'sass:string';

// Use this to convert units in px to rem
// Takes in variable number of arguments and outputs a list of space separated converted units
// Can be used for setting simple CSS properties (e.g., font-size) or for CSS shorthands (e.g., padding)
@function rem($sizes...) {
    $sizes-list: ();

    @each $size in $sizes {
        $rem-size: math.div($size, 16px) * 1rem;
        $sizes-list: list.append($sizes-list, $rem-size, $separator: space);
    }
    @return $sizes-list;
}
