@use '../themes/default' as theme;
@use '../abstracts' as *;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

*:focus {
    outline: 2px dashed theme.$brand-color-primary;
    outline-offset: 4px;
}

html {
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    min-height: 100vh;
    height: 100%;

    @include respond-to('lg') {
        padding-block: 2rem;
    }
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}
